<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marliao.trainticketenquiry">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".engine.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/train"
        android:label="@string/app_name"
        android:roundIcon="@drawable/train"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.TrainInforListActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".Activity.TrainDetailsActivity"
            android:launchMode="singleTask"></activity>
    </application>

</manifest>